@model GlobalHackMVC.citation

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<div>
    <h4>citation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.citation_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citation_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.citation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citation_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defendant_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defendant_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defendant_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defendant_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.defendant_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.defendant_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drivers_license_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drivers_license_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.court_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.court_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.court_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.court_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.court_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.court_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
